@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
body{
  background-color: #000;
    font-family: "Space Grotesk", sans-serif;

}

h1{
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.subtitle{
  background-color: #1a1a1a;
}

.subtitle span{
  background-color: #3d3d3d;
  border-radius: 50%;
  padding: 5px;
  margin-right: 12px;
  color: #fff;
}

.card {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.01) 80%
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  padding: 10px;
  color: #fff;

  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    0 20px 40px rgba(0, 0, 0, 0.6);

  transition: all 0.35s ease;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    circle at top,
    rgba(255, 255, 255, 0.15),
    transparent 60%
  );
  opacity: 0.6;
  pointer-events: none;
}
