@import "tailwindcss";

body{
  background-color: #000;
}

/* h1{
  color: #fff;
} */

.subtitle{
  background-color: #1a1a1a;
}

.subtitle span{
  background-color: #3d3d3d;
  border-radius: 50%;
  padding: 5px;
  margin-right: 12px;
  color: #fff;
}